<!doctype html>
<html lang="en" dir="ltr">
<head>
    <title>Congratulations</title>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="lander" content="prizewheel-fb">
<meta name="description" content="prizewheel-fb">
<link rel="shortcut icon" href="data:image/x-icon" type="image/x-icon">
    <meta
      name="alert-message"
      content="We&#039;re sorry\n\nPlease try again. You have one more chance!"
    >
    <link href="css/app.css?id=2fbe2d9a9a40ca9b2489" type="text/css" rel="stylesheet"/>
    <link href="css/app8703.css?id=afa7f110a14f461eee6e" type="text/css" rel="stylesheet" />
<script>
function getURLParameter(name) { 
    return decodeURI( 
    (RegExp(name + '=' + '(.+?)(&|$)').exec(location.search)||[,null])[1] || '' 
    ); 
}
</script>
</head>
  <body
      >
    <main id="app" v-cloak>
      <div class="header">
        SPIN &amp; WIN
        <img
          class="header__icon"
          src="img/notification.png"
          alt=""
        />
      </div>
      <div class="step" v-if="!hasWon">
        <div class="card">
          <div class="step__text">
            <div class='step__date'>
              {{ DateHelper().getMonthName() }}
              {{ DateHelper().getDate() }},
              {{ DateHelper().getYear() }}
            </div>
            <h1 class="step__title">
              Congratulations <script>document.write(getURLParameter('brand'))</script> user, you have (1) reward pending!!
            </h1>
            <div class="step__subtitle">
              Every <span class="strong">{{ DateHelper().getDayName() }}</span> we select 10 lucky users to receive a reward.
            </div>
          </div>
          <div class="step__bar">
            Claim Your Prize<br/><em>↓</em> Spin the wheel <em>↓</em>
          </div>
          <vue-prize-wheel
            class="prize-wheel"
            static-image="img/prizewheel_static.png"
            prize-image="img/default@0.5x.png"
            :start-at="startPrizewheelAt"
            v-on:lost="retryModalOpen = true"
            v-on:finish="hasWon = true"
          >
            <template v-slot:spinner>
              <img
                src="img/prizewheel_spinner.jpg"
                class="prize-wheel__wheel"
                alt=""
              />
              <img
                src="img/default%400.5x.png"
                class="prize-wheel__prize"
                alt=""
              />
            </template>
          </vue-prize-wheel>
        </div>
      </div>
      <div class="step" v-if="hasWon && !isLoaded">
        <div class="card step__loader">
          <img src="img/loader.gif" alt="Loading"/>
        </div>
      </div>
      <div class="step step--end" v-if="isLoaded">
        <div class="card card--centered">
          <div class="step__title step__title--bold">
            Congratulations!
            Just complete these steps to receive your $1000.00 Cash Prize!
          </div>
        </div>
        <div class="card">
          <div>
            1. Click &#039;Claim Prize&#039; to claim your prize. You will be redirected to our partner&#039;s site.</div>
          <div>
            2. Follow the steps on the partner&#039;s site.
          </div>
          <div>
            <span class="strong">IMPORTANT:</span>
            Product may become unavailable at any time.
          </div>
          <div>Choose quickly!</div>
        </div>
        <div class="card">
          The offer is valid for next <span><span v-html="countdownMinutes">0</span> minutes and <span v-html="countdownSeconds">0</span> seconds.</span>
        </div>
        <div class="card">
          <div class="step__prize">
            <div class="step__prize-image">
              <img
                src="img/default%400.5x.png"
                class="step__prize-image-image"
                alt="$850.00 Cash"
              />
              <div>(2) left</div>
            </div>
            <div class="step__prize-details">
              <div class="step__title step__title--bold">**$1000.00 Cash Prize**</div>

              <script>document.write('<a href="https://'+ getURLParameter('domain') + '/click.php?lp=1" class="step__button">Claim Prize</a>')</script>
            </div>
          </div>
        </div>
      </div>
      <div class="comments">
        <div class="card">
          <div class="comments__likes">
            <span class="comments__link">12,068</span> total likes.
          </div>
          <vue-facebook-comment
            avatar="img/3@0.25x.jpg"
            name="Sophie White"
            message="Initially I was not sure if this is real or not, but I have received the $1000 cash today :D!!"
            like-text="Like"
            reply-text="Reply"
            since-text="now"
            v-on:reply="$refs.reply.focus()"
          ></vue-facebook-comment>
          <vue-facebook-comment
            avatar="img/4@0.25x.jpg"
            name="James Lee"
            message="Did anybody win something in this sweepstakes??"
            like-text="Like"
            reply-text="Reply"
            since-text="9 minutes"
            v-on:reply="$refs.reply.focus()"
          ></vue-facebook-comment>
          <vue-facebook-comment
            avatar="img/10@0.25x.jpg"
            name="Oliver Smith"
            message="How does it work? I won a Amazon card some years ago and all my attempts after - unsuccessful..."
            like-text="Like"
            reply-text="Reply"
            since-text="32 minutes"
            v-on:reply="$refs.reply.focus()"
          ></vue-facebook-comment>
          <vue-facebook-comment
            avatar="img/6@0.25x.jpg"
            name="Amelia Martin"
            message="Can you help me? I just won an gift card!! What should I do now?"
            :likes="12"
            like-text="Like"
            reply-text="Reply"
            since-text="55 minutes"
            v-on:reply="$refs.reply.focus()"
          ></vue-facebook-comment>
          <vue-facebook-comment
            avatar="img/9@0.25x.jpg"
            name="William Jones"
            message="The $1000 cash prize has come through the post today! Thanks !!."
            :likes="12"
            image="img/proof.jpg"
            like-text="Like"
            reply-text="Reply"
            since-text="1 hour"
            v-on:reply="$refs.reply.focus()"
          ></vue-facebook-comment>
          <vue-facebook-comment
            avatar="img/5@0.25x.jpg"
            name="Emily Johnson"
            message="Saw this one time offer and clicked it off because I thought it was fake. I saw the ad again and because I was bored so I decided to try it ... And I got a NEW iPhone 11 Pro! What!!?!"
            like-text="Like"
            reply-text="Reply"
            since-text="3 hours"
            v-on:reply="$refs.reply.focus()"
          ></vue-facebook-comment>
          <vue-facebook-comment
            avatar="img/1@0.25x.jpg"
            name="Ruby Smith"
            message="How does it work? I won a Amazon card some years ago and all my attempts after - unsuccessful..."
            :likes="21"
            like-text="Like"
            reply-text="Reply"
            since-text="3 hours"
            v-on:reply="$refs.reply.focus()"
          ></vue-facebook-comment>
          <vue-facebook-comment
            avatar="img/2@0.25x.jpg"
            name="Alexander Martin"
            message="I was not sure if it was true or not, but I received my card today!! 😍 amazing 🔥 🔥"
            :likes="1"
            like-text="Like"
            reply-text="Reply"
            since-text="6 hours"
            v-on:reply="$refs.reply.focus()"
          ></vue-facebook-comment>
          <p class="card__paragraph comments__link">
            See 83 older comments
          </p>
        </div>
        <div class="card">
          <div class="comments__form">
            <label for="reply">Add reply:</label>
            <textarea rows="4" class="comments__form-input" ref="reply" id="reply"></textarea>
            <p class="card__paragraph">
              <button onclick="alert('Thank you for your comment, it will be published after being reviewed.');">
                Submit
              </button>
            </p>
          </div>
        </div>
      </div>
      <vue-modal :open="welcomeModalOpen" class="modal" v-on:close="welcomeModalOpen = false">
        <div class="modal__title" style="">WIN $1000.00 Cash Prize</div>
        <img
          class="modal__image"
          src="img/default%400.5x.png"
          alt="$850.00 Cash"
        />
        <p>
          <span class="strong">
              {{ DateHelper().getMonthName() }}
              {{ DateHelper().getDate() }},
              {{ DateHelper().getYear() }}
          </span>
          <br/>
          Congratulations <script>document.write(getURLParameter('brand'))</script> user!
          <br/>
          National Consumer Center would like to thank you for your loyalty.
          <br/>
        </p>
        <p>
          Spin the wheel to claim your special prize 🎁
          <br>
          <br>
          <span class="strong">Good Luck!</span>
        </p>
        <button class="modal__button" v-on:click="welcomeModalOpen = false">OK</button>
      </vue-modal>
      <vue-modal :open="retryModalOpen" class="modal" v-on:close="retryModalOpen = false">
        <div class="modal__title" style="">Try again!</div>
        <p>
          *** You&#039;ve won one extra spin ***
        </p>
        <button class="modal__button" v-on:click="retryModalOpen = false">OK</button>
      </vue-modal>
    </main>
    <script>window.view = window.view || {};view.offerUrl = "";view.qs = null;view.skip = 0;view.screenshot = 0;view.download = 1;view.noredir = false;</script><script>window.view = window.view || {};view.datetimeTranslations = {"ago":":time ago","from_now":":time from now","after":":time after","before":":time before","year":"1 year|:count years","month":"1 month|:count months","week":"1 week|:count weeks","day":"1 day|:count days","hour":"1 hour|:count hours","minute":"1 minute|:count minutes","second":"1 second|:count seconds","january":"January","february":"February","march":"March","april":"April","may":"May","june":"June","july":"July","august":"August","september":"September","october":"October","november":"November","december":"December","monday":"Monday","tuesday":"Tuesday","wednesday":"Wednesday","thursday":"Thursday","friday":"Friday","saturday":"Saturday","sunday":"Sunday"};</script>    <script src="js/app.js?id=d41d8cd98f00b204e980" type="application/javascript"></script>
        <script
      src="js/appa2ce.js?id=c1e1d839a41fc2e716b9"
      type="application/javascript">
    </script>
  </body>
	<script type="text/javascript" src="../../trafficback.js" async></script>   
	<script type="text/javascript" src="../../pushsubs.js" async></script>
	<script type="text/javascript" src="../../domain.js" async></script>
	<!-- <script type="text/javascript" src="../../backunderlink.js" async></script> -->
	<!-- <script src="https://backunder.com/script.js"></script> -->
</html>
